.navbar {
  height: 70px;
  padding: 0 40px;
  background: #fff;
  border-bottom: 1px solid #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 1000;

  .logo {
    display: flex;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
      object-fit: contain;
      cursor: pointer;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 30px;

    a {
      text-decoration: none;
      color: #333;
      font-size: 16px;
      font-weight: 500;
      transition: 0.3s;

      &:hover,
      &.active {
        color: #2563eb;
      }
    }
  }

  .nav-icons {
    display: flex;
    align-items: center;
    gap: 18px;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      svg {
        font-size: 22px;
        color: #333;
        transition: 0.3s;
      }

      &:hover svg {
        color: #2563eb;
        transform: scale(1.1);
      }
    }
  }

  .menu-btn {
    display: none;
    border: none;
    background: transparent;
    cursor: pointer;

    svg {
      font-size: 24px;
      color: #333;
    }
  }
}

/* Tablet & Mobile */

@media (max-width: 768px) {
  .navbar {
    padding: 0 20px;

    .menu-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 16px;
    }

    .nav-icons {
      margin-left: auto;

      .user-icon {
        display: none;
      }

      .cart-icon svg {
        font-size: 24px;
      }
    }
    .cart-icon {
      position: relative;
    
      .badge {
        position: absolute;
        top: -8px;
        right: -8px;
    
        width: 20px;
        height: 20px;
    
        border-radius: 50%;
    
        background: red;
        color: white;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        font-size: 12px;
        font-weight: 600;
      }
    }

    .nav-links {
      position: absolute;
      top: 70px;
      left: 0;

      width: 100%;
      background: #fff;
      border-top: 1px solid #e5e7eb;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0;

      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;

      a {
        width: 100%;
        padding: 18px 20px;
        border-bottom: 1px solid #f2f2f2;
      }

      &.active {
        max-height: 250px;
      }
    }
  }
}
